* {margin:0px;padding:0px;box-sizing:content-box;}
body {background:rgb(244,244,244) !important;}
.app-page {display:none;}
.setFa {font-family: FontAwesome;}
.bg-black {background-color: rgb(30,30,30);}
.header-establishment {width:72px;border-radius:50%;border:3px solid gray;}
.product-item {max-width: 120px;min-width: 105px;}
.product-item p:first-child {
    white-space: normal;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
.navbar-main a {color:black;font-size:13px;}
.float-right {float:right;}
#list-purchases {max-height:400px;overflow:auto;}
#list-products-cardapio {max-height:207px;overflow:auto;}
#list-products-bebidas {max-height:103px;overflow:auto;}
#list-carrinho {max-height:72px;overflow:auto;}
#lbl-companie-rating {color:#daa520;}

#modal-carrinho .modal-body .list-group-item p {font-size:13px;}
#lbl-carrinho-total {color:rgb(30,30,30);font-weight: 700;}
.btn-carrinho-remove {
    padding: 2.5px 9px 2.5px 9px !important;
    position: absolute;
    bottom: 5px;
    right: 7px;
}

#app-search-bar { display: none; }
#app-progress-bar { font-size: 15px; }

@keyframes fadeBorder {
    
    0% {
        border: 3px solid #daa520;
    }

    50% {
        border: 3px solid red;
    }

    100% {
        border: 3px solid #daa520;
    }

}

.animation-border-fade {
    animation: fadeBorder;
    animation-delay: .5s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}